<!doctype html>
<html lang="pt-br">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Exemplo de Accordion</title>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script>
$( function() {
  $( "#accordion" ).accordion();
} );
</script>
</head>
<body>

<div id="accordion">
{{ dados | safe }}
</div>

<br><br>

[ <a href = "/">Retornar ao Menu</a> ]
</body>
</html>
