{% extends 'layout.html' %}
{% block conteudo %}
<form action="/excluir" method="post">
   <table>
       <tr>
           <td>Identificador:</td>
           <td><input type="text" name="idt_usr" id="idt_usr" readonly value="{{ usr['idt_usr'] }}"></td>
       </tr>
       <tr>
           <td>Usuário:</td>
           <td><input type="text" name="nme_usr" id="nme_usr" maxlength="20" readonly value="{{ usr['nme_usr'] }}"></td>
       </tr>
       <tr>
           <td>E-mail:</td>
           <td><input type="email" name="eml_usr" id="eml_usr" maxlength="50" readonly value="{{ usr['eml_usr'] }}"></td>
       </tr>
       <tr>
           <td>Perfil:</td>
           <td>
               <select name="pfl_usr" id="pfl_usr" size="1" readonly>
                   <option value="C" {% if usr['pfl_usr'] == 'C': %}selected{% endif %}>Usuário Comum</option>
                   <option value="G" {% if usr['pfl_usr'] == 'G': %}selected{% endif %}>Gerente</option>
                   <option value="A" {% if usr['pfl_usr'] == 'A': %}selected{% endif %}>Administrador</option>
               </select>
           </td>
       </tr>
       <tr>
           <td colspan="2">
               <button type="submit">Confirmar Exclusão do Usuario</button>
           </td>
       </tr>
   </table>
</form>
{% endblock %}




{% block msg %}
{{ msg }}
{% endblock %}
