
<!DOCTYPE html>
<html lang="pt-br">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Login no Sistema</title>
   <link rel="stylesheet" href="static/login.css">
</head>
<body>
<div class="container">
   <h1>Sistema Teste de Login</h1>
   <form action="/" method="post">
       <div class="campo">
           <label for="usuario">Usuário:</label>
           <input type="text" id="usuario" name="usuario" required>
       </div>
       <div class="campo">
           <label for="senha">Senha:</label>
           <input type="password" id="senha" name="senha" required>
       </div>
       <div>
           <button type="submit">Entrar no Sistema</button>
       </div>
   </form>
   <p class="msg">{{ msg }}</p>
</div>
</body>
</html>

